# Geocoding and getting walking isochrones

This notebook presents a workflow for obtaining addresses and walking isochrones for street segments.

We define a segment as the section of the street between two intersections.

##### 1. Import libraries

In [8]:
from geopy.geocoders import Nominatim
import geopandas as gpd
import pandas as pd
from A4_script import *

##### 2. Import data

The workflow starts from a dataset containing a list of segments, with an id, and the latitude and longitude of the two intersections of each segment

In [9]:
data = pd.read_excel("Data\intersections_dataset.xlsx")

In [10]:
data.head()

   sgmntid  intrsc_1_lat  intrsc_1_long  intrsc_2_lat  intrsc_2_long
0        1     47.807070      13.054107     47.807631      13.053675
1        2     47.808273      13.056615     47.808949      13.056425
2        3     47.811425      13.053483     47.811425      13.054470

##### 3. Get addresses

Taking the latitude and logitude coordinates, this function performs a reverse geolocation, obatining the address for each of both street intersections

In [11]:
data_adressses = get_address(data)
data_adressses.head()

,sgmntid,intrsc_1_lat,intrsc_1_long,intrsc_2_lat,intrsc_2_long,address1,address2
0,1,47.807070,13.054107,47.807631,13.053675,"3, Grillparzerstraße, Schallmoos, Salzburg, 50...","14, Grillparzerstraße, Schallmoos, Salzburg, 5..."
1,2,47.808273,13.056615,47.808949,13.056425,"Ausbildungszentrum, 32, Sterneckstraße, Schall...","my Indigo Mooncity, 28, Sterneckstraße, Schall..."
2,3,47.811425,13.053483,47.811425,13.054470,"4, Merianstraße, Schallmoos, Salzburg, 5020, Ö...","1, Merianstraße, Schallmoos, Salzburg, 5020, Ö..."

##### 4. Get intersections isochrones

Using the OSMNX library, this function gets the walking "isochrones" for a given distance for both intersections of each segment.

The isochrone is a polygon representing all the area reachable walking the given distance from the defined starting point

In [12]:
intersection_isochrones = get_isochrones(data, 500)
intersection_isochrones.head()

,sgmntid,intrsc_1_lat,intrsc_1_long,intrsc_2_lat,intrsc_2_long,address1,address2,isochrone1,isochrone2
0,1,47.807070,13.054107,47.807631,13.053675,"3, Grillparzerstraße, Schallmoos, Salzburg, 50...","14, Grillparzerstraße, Schallmoos, Salzburg, 5...","POLYGON ((13.0477589 47.8040199, 13.0475388 47...","POLYGON ((13.0472071 47.8036049, 13.0471232 47..."
1,2,47.808273,13.056615,47.808949,13.056425,"Ausbildungszentrum, 32, Sterneckstraße, Schall...","my Indigo Mooncity, 28, Sterneckstraße, Schall...","POLYGON ((13.0501311 47.8042493, 13.0500258 47...","POLYGON ((13.0514108 47.8046443, 13.0498379 47..."
2,3,47.811425,13.053483,47.811425,13.054470,"4, Merianstraße, Schallmoos, Salzburg, 5020, Ö...","1, Merianstraße, Schallmoos, Salzburg, 5020, Ö...","POLYGON ((13.056482 47.8069817, 13.0512735 47....","POLYGON ((13.056482 47.8069817, 13.0512735 47...."

##### 5. Disolve Isochrones

The last step consist in joining the both isochrones, for obtaining only one polygon per segment, representing all the reachable area starting from the analyzed segment

In [13]:
street_isochrone = polygon_disolve(intersection_isochrones)
street_isochrone.head()

,sgmntid,address1,address2,geometry
0,1,"3, Grillparzerstraße, Schallmoos, Salzburg, 50...","14, Grillparzerstraße, Schallmoos, Salzburg, 5...","POLYGON ((13.06075 47.80831, 13.06078 47.80819..."
1,2,"Ausbildungszentrum, 32, Sterneckstraße, Schall...","my Indigo Mooncity, 28, Sterneckstraße, Schall...","POLYGON ((13.05003 47.80440, 13.04999 47.80646..."
2,3,"4, Merianstraße, Schallmoos, Salzburg, 5020, Ö...","1, Merianstraße, Schallmoos, Salzburg, 5020, Ö...","POLYGON ((13.05127 47.80700, 13.04870 47.80712..."